* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
    background-color: darkslategray;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 5%;
    margin: 0 auto;
}
nav ul a {
    color: floralwhite;
    text-decoration: none;
    font-size: 150%;
}
nav a:hover {
    background-color: floralwhite;
    color: darkslategray;
}

.card {
    float: left;
    width: 20%;
    margin-left: 10%;
}

.card a {
    text-align: center;
}

img {
    width: 100%;
    height: 280px;
}

h1 {
    text-align: center;
}