* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkturquoise;
}

nav ul {
    background-color: darkslategray;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 5%;
    margin: 0 auto;
}
nav ul a {
    color: floralwhite;
    text-decoration: none;
    font-size: 150%;
}
nav a:hover {
    background-color: floralwhite;
    color: darkslategray;
}

.header {
    margin: 30px 0;
    color: darkslategray;
    font-size: 300%;
    font-weight: 600;
    letter-spacing: 4px;
}

h1 {
    text-align: center;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

.card {
    display: inline-block;
    width: 20%;
    margin: 1%;
    border: 2px outset grey;
    padding: 10px;
    background-color: rgb(206, 194, 194);
}

.empty {
    display: inline-block;
    width: 20%;
    margin: 1%;
    padding: 10px;
}

.card a {
    text-align: center;
    color: darkslategray;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
}

.card:hover {
    background-color: darkslategrey;
    transform: scale(1.1);
}

.card:hover a {
    color:darkturquoise;
}

img {
    width: 100%;
    height: auto;
    display: cover;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}